{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "camelcase": 0,
    "comma-spacing": [1, {"before": false, "after": true}],
    "new-cap": 0,
    "no-multi-spaces": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "quotes": [2, "single", "avoid-escape"],
    "space-in-brackets": 0,
    "space-unary-word": 0,
    "vars-on-top": 0,
    "indent": [2, 2]
  },
  "plugins": [
    "react"
  ]
}